@import "../../../scss/vars";
.section3 {
  padding: 11% 0em;
  .carousel {
    &-inner {
      overflow: visible !important;
    }
    padding: 5% 0%;
  }
  
  h1 {
    font-family: poppins;
  }

  blockquote,
  p {
    font-family: poppins-light;
  }
  .testimony {
    border: 1px solid $primary;
    overflow: visible;
    border-radius: 2em !important;
    width: 75%;

    &-img {
      width: 100px;
      height: 100px;
      border-radius: 100% !important;
      transform: translateY(60%);
      margin-top: -50px;
      border: 2px solid $primary;
    }
  }

  @media (max-width: 900px) {
    .testimony {
      width: 85% !important;
    }
  }

  @media (min-width:1025px) {
    .container {
      overflow-x: hidden;
    }
  }
}
