@import "../../../scss/vars";

.section2 {
  min-height: 200px;
  margin-top: 5%;
  .bg-img {
    & {
      opacity: 0.2;
      height: 100vh;
      width: 100vw;
    }
    &-overlay {
      background-color: #000;
      width: 100%;
      min-height: fit-content;
      display: inline;
      position: absolute;
      z-index: -9;
      max-height: 100vh !important;
      overflow: hidden;
    }
  }

  .display-image {
    text-align: center;
    // width: 200px;
    height: 200px;
    border-radius: 2em;
    box-shadow: 1px 4px 6px rgb(61, 61, 61);
  }
  .container {
    padding-top:10%;
  }
  h1,
  p {
    color: white;
  }
  h1 {
    font-family: jakatra-bold;
    padding: 0.5em 0em;
    font-size: 2em;
  }
  p {
    font-family: roboto;
    font-weight: 300;
    font-size: 0.95em;
    width: min(70%, 85%);
    margin: auto;
    padding-bottom: 3em;
  }
}
