.crew {
  padding: 7% 0%;
  h1 {
    font-family: poppins-bold;
    text-transform: uppercase;
  }
  img{
      border-radius: 30px;
  }
  p{
      font-family: poppins-light;
  }
  .profile {
    h2 {
      font-size: 1.6em;
      margin-bottom: -6px;
      color: #444;
      font-family: poppins;
    }
    span {
      font-family: poppins-light;
    }
  }
}
