@import "../../scss/vars";
.overlay{
    width: 100vw;
    height: min(600px,80vh);
    position: absolute;
    background-color: #000;
    z-index: -9;
    img{
        opacity: .3;
        width: 100%;
        height: 100%;
    }
}