.section5 {
  padding: 6.5em 0em;
  h1 {
    font-family: poppins-bold;
  }
  .intro {
    width: min(80%, 500px);
    margin: auto;
  }
  .icon {
    font-size: 5em;
    color: #777;
  }
  h2 {
    font-family: poppins;
    font-size: 1.5em !important;
  }
  p {
    font-family: poppins-light;
  }
  .item-text {
    font-size: 0.9em !important;
  }
}
