@import "../../../scss/vars";
.section1 {
  margin-top: -10%;
  overflow: hidden;
  h3 {
    //this is used in the grid
    font-size: 3.3rem;
    background: linear-gradient(120deg,darken($primary,10) 50%,darken($primary,30) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-family: jakatra-bold;
    color: #777;
    // text-align: center;
  }
  h2 {
    //this was used in the 'Trusted By'
    color: $primary;
    font-size: 2rem;
    font-family: jakatra-bold;
  }
  p {
    font-family: jakatra-light;
    font-weight: 200;
    color: #333;
    font-size: 0.92em;
    // text-align: justify;
  }
  svg{
    fill: $primary
  }
}
