@import "../../scss/vars";
.navbar {
  z-index: 99999;
    * {
      font-family: poppins;
    }
    .nav-item{
        font-size: 1em;
        padding: 0em .5em !important;
        margin: 0em .3em;
        &:hover,&:focus,&.visited{
          border-bottom:2px solid $primary;
        }
    }
    &-brand{
      font-size: calc(1em + .5vw) !important;
    }
    .logo{
      max-height: 70px;
    }
    &-collapse.show,&-collapse.collapsing{
      background-color: #111;
    }

}

@media (max-width:900px) {
  .navbar-brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo{
    max-height: 60px !important;
  }
}