@import "../../scss/vars";
.navbar {
    * {
      font-family: poppins;
    }
    .nav-item{
        font-size: 1.1em;
        padding: 0em .5em !important;
        margin: 0em .3em;
        &:hover,&:focus,&.visited{
          border-bottom:2px solid $primary;
        }
        
    }
    background-color: rgba(0, 0, 0, 0.337);
    .logo{
      max-height: 70px;
    }

}