.section6 {
  h1 {
    font-family: poppins-bold;
  }
  .event {
    height: 400px;
    position: relative;
    overflow: hidden !important;
    border-radius: 1em;
    box-shadow: 6px 3px 7px #bbb;
    .title {
      color: white;
      font-family: poppins;
      margin-bottom: -2px;
      &-container {
        background-color: rgba(#111, 0.5);
        padding:1.2em 1em;
      }
    }
    .card-body {
      padding: 0% !important;
      position: absolute;
      bottom: -10px;
      width: 100%;
    }
    .overlay{
        position: absolute;
        background-color: rgba(#000,.4);
        width: 100%;
        height: 100%;
        &:hover,&:focus{
            background-color: transparent;
        }
    }
    p{
        color: rgb(228, 228, 228);
        font-family: roboto;
        font-weight: lighter;
        font-size: .9em;
        line-height: 15px;
    }
  }
}
