@import "../../../scss/vars";
.section4{
    .bg{
        background-color: darken($primary,20);
    }
    .wrapper{
        max-width: 100vw !important;
        overflow-x: hidden;
    }
    img{
        float: right;
        height: 100%;
    }
    .content{
        padding: 5% 3%;
        h1{
            font-family: poppins-bold;
        }
        p{
            font-family: poppins-light;
            width: 90%;
            margin: auto;
            font-size: .94em;
            // padding-bottom: 1em;
            // color: rgb(224, 224, 224);
        }
    }
}