.intro {
  &-heading {
    font-family: jakatra-bold;
  }
  &-text {
    font-family: "open-sans-light";
    margin: 2em 0em;
  }
  .search-box {
    background-color: rgba(white, 0.5);
    border: none;
    outline: none;
    color: white;
    font-family: poppins;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    width: 80%;
    padding: 0.6em;
    &::placeholder {
      color: white;
    }
  }
  .btn:hover {
    color: white !important;
  }
}

.overlay {
  &-image,
  &-mask {
    position: absolute;
    min-width: 100%;
    height: 110vh;
    top: 0;
    left: 0;
    z-index: -999;
    display: inline;
  }
  &-mask {
    background-color: rgba(0, 0, 0, 0.801);
  }
}

@media (max-width: 320px) {
  .intro {
    &-heading {
      margin-top: 30%;
      font-size: 1.3em;
    }
  }
}
