hr {
  background-color: $primary;
}
.btn {
  box-shadow: none !important;
}
body {
  overflow: overlay;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary;
  }
}
