// eslint-disable-next-line
@import "vars";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "reboot";

@font-face {
  font-family: "poppins-bold";
  src: url("../Fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "poppins";
  src: url("../Fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "poppins-light";
  src: url("../Fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "open-sans";
  src: url("../Fonts/OPENSANS-LIGHT.TTF");
}
@font-face {
  font-family: "open-sans";
  src: url("../Fonts/OPENSANS-SEMIBOLD.TTF");
}

